<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysing text</title>
</head>
<body>
<h1 align="center"> Welcome to TEXT ANALYZER, Enter your text below</h1>
<form>
    <textarea name="inputtext" style="width: 1458px; height: 142px;"></textarea>
    <input type="submit" formaction="/removepunc" value="Remove Punctuation">
    <input type="submit" formaction="/capall" value="Capitallize whole text">
    <input type="submit" formaction="/exspaceremove" value="Remove Extra Space">
</form>
</body>
</html>